<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leo.appmaster"
    android:versionCode="67"
    android:versionName="@string/version_name">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- PrivacyContact Start -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- PrivacyContact End -->
    <!-- 统计sdk start -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 统计sdk end -->


    <!-- LEO push: begin -->
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- LEO push: end -->

    <!-- quickSwitch -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- quickSwitch -->


    <!-- baidu mtj permissions -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- baidu mtj permissions -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- wifi -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 有隐私联系人未读时给iswipe发送广播权限 -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <permission
        android:name="com.leo.appmaster.permission.CONNECT_ISWIPE_SERVICE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.leo.appmaster.RECEIVER_TO_ISWIPE"
        android:label="pg_to_iswipe_receiver_permission"
        android:protectionLevel="signature" />
    <permission
        android:name="com.leo.appmaster.permission.IPC_REQUEST"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <permission android:name="com.leo.appmaster.permission.IPC_RECEIVER"
        android:protectionLevel="signature" />

    <!-- GameBox SDK begin -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 操作外部存储设备文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 权限: 开机自启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 权限: 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.google.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <!-- GameBox SDK end -->

    <application
        android:name=".AppMasterApplication"
        android:excludeFromRecents="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/activity_theme">
        <activity
            android:name=".home.SplashActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.leo.appmaster.home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.ProxyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity="com.leo.appmaster.proxy"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".home.GooglePlayGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity
            android:name=".home.GradeTipActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity
            android:name=".applocker.LockSettingActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".applocker.LockScreenActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.leo.appmaster.lockscreen"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".applocker.PasswdProtectActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".intruderprotection.IntruderprotectionActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".intruderprotection.IntruderCatchedActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".intruderprotection.IntruderGalleryActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".applocker.AppLockListActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".wifiSecurity.WifiSecurityActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".wifiSecurity.WifiSettingActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".callfilter.CallFilterSettingActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".battery.BatterySettingActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".callfilter.CallFilterRecordActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".wifiSecurity.WifiResultActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".callfilter.CallFilterMainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:taskAffinity="com.leo.appmaster.home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
<!--           	android:launchMode="singleTask" -->
            <!-- android:taskAffinity="com.leo.appmaster.home" -->
        <activity
            android:name=".callfilter.StrangeCallActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".msgcenter.MsgCenterActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.leo.appmaster.home"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".msgcenter.MsgCenterBrowserActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".home.MenuFaqBrowserActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".applocker.LockModeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".applocker.LockModeEditActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".applocker.TimeLockEditActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".applocker.LocationLockEditActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".applocker.LockOptionActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"></activity>
        <activity
            android:name=".applocker.PasswdTipActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".applocker.WaitActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".activity.AboutActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".imagehide.ImageHideMainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".imagehide.ImageGalleryActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".imagehide.ImageGridActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".imagehide.PictureViewPager"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>

        <!-- Battery Manager UI begin -->
        <activity
            android:name=".battery.BatteryMainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <!-- Battery Manager UI end -->

        <!-- appWall -->
        <activity
            android:name=".activity.AppWallActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <!-- 用户协议 -->
        <activity
            android:name=".home.ProtocolActivity"
            android:excludeFromRecents="true"
            android:theme="@style/activity_theme" />

        <!-- add for the app update of leosdk -->
        <activity
            android:name=".sdk.update.UpdateActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UpdateDialog.NoFrame"></activity>

        <activity
            android:name=".callfilter.AskAddToBlacklistActivity"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UpdateDialog.NoFrame"></activity>
        <activity
            android:name=".battery.BatteryShowViewActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="com.leo.appmaster.lockview" 
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"/>

        <activity
            android:name=".feedback.FeedbackActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".lockertheme.LockerTheme"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:taskAffinity="com.leo.appmaster.home"
            android:theme="@style/Theme.PageIndicatorDefaults">
            <meta-data
                android:name="LEO_PRIORTY"
                android:value="0" />
            <intent-filter>
                <action android:name="com.leo.theme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- lockerThemeGuide -->
        <activity
            android:name=".lockertheme.LockerThemeGuideActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UpdateDialog.NoFrame"></activity>
        <activity
            android:name=".videohide.VideoGriActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".videohide.VideoHideMainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".videohide.VideoHideGalleryActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".videohide.VideoViewPager"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme" />
        <activity
            android:name=".home.DeskAdActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".applocker.RecommentAppLockListActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".applocker.SuccessAppLockListActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".applocker.LockHelpSettingTip"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".applocker.LockTimeSetting"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"></activity>
        <activity
            android:name=".privacycontact.PrivacyContactActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".privacycontact.AddFromContactListActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".privacycontact.AddFromMessageListActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".privacycontact.AddFromCallLogListActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".privacycontact.PrivacyMessageItemActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".privacycontact.PrivacyCallLogListActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".privacycontact.PrivacyContactInputActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".appmanage.BackUpActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".appmanage.UninstallActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".appmanage.FlowActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".applocker.WeiZhuangFirstIn"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"></activity>
        <activity
            android:name=".activity.QuickHelperActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"></activity>
        <activity
            android:name=".applocker.WeiZhuangActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"></activity>
        <activity
            android:name=".applocker.UnKnowCallActivity5"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"></activity>
        <activity
            android:name=".applocker.BeautyWeiZhuang"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"></activity>
        <activity
            android:name=".applocker.ErrorWeiZhuang"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"></activity>
        <activity
            android:name=".applocker.UFOActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/translucent"></activity>
        <activity
            android:name=".applocker.ZhiWenActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"></activity>
        <activity
            android:name=".appmanage.EleActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".appmanage.NewEleActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".appmanage.TrafficSetting"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".appmanage.HotAppActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"></activity>
        <activity
            android:name=".privacycontact.PrivacyMessageSendActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".privacycontact.EditPrivacyContactActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".sdk.push.ui.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>

        <activity
            android:name=".home.DeskProxyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity="com.leo.appmaster.proxy"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".applocker.FamilyModeProxyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:taskAffinity="com.leo.appmaster.lockscreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".applocker.OfficeModeProxyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:taskAffinity="com.leo.appmaster.lockscreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".applocker.UnlockAllModeProxyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:taskAffinity="com.leo.appmaster.lockscreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".applocker.VisitorModeProxyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:taskAffinity="com.leo.appmaster.lockscreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".cleanmemory.HomeBoostActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/switch_speed_up"
            android:label="@string/accelerate"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".applocker.MobvistaProxyActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".phoneSecurity.PhoneSecurityGuideActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".applocker.service.ProxyStartService"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/unified_loading_dialog">
            <intent-filter>
                <action android:name="com.leo.theme.action.START_SERVER"></action>
            </intent-filter>
        </activity>

        <service
            android:name=".applocker.service.TaskDetectService"
            android:exported="true">

            <!-- <intent-filter android:priority="1000" > -->
            <!-- </intent-filter> -->
        </service>
        <service
            android:name=".applocker.service.PhantomService"
            android:exported="true"></service>
        <service
            android:name=".applocker.service.StatusBarEventService"
            android:exported="true"></service>

        <receiver
            android:name=".applocker.receiver.LockReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="com.leo.appmaster.restart" />
                <action android:name="com.leo.appmaster.alarmlock" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".applocker.receiver.showTrafficAlof"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.leo.appmaster.traffic.alot" />
                <action android:name="com.leo.appmaster.traffic.finish" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".applocker.receiver.DeviceReceiver">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/my_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.leo.appmaster.privacycontact.SingleContactReceiver"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.GSM_SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED_2" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".quickgestures.receiver.QuickSwitchReceiver"
            android:exported="true">
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".db.AppMasterProvider"
            android:authorities="com.leo.appmaster.provider"
            android:exported="false"></provider>

        <!-- for Baidu MTJ begin -->
        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="c7881de475" />
        <!-- debug key -->
        <!-- <meta-data android:name="BaiduMobAd_STAT_ID" android:value="1004e462a2" /> -->
        <!-- release key -->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="@string/channel_code" />
        <!-- default upload interval is 1 hour -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="SET_TIME_INTERVAL" />
        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- for Baidu MTJ end -->


        <!-- for TalkingData start -->
        <meta-data
            android:name="TD_APP_ID"
            android:value="FDFC3A6C0157D012BB647FD3CAE0245A" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="@string/channel_code" />
        <!-- for TalkingData end -->

        <!-- for LEO push sdk -->
        <service
            android:name="com.leo.push.PushService"
            android:exported="true" />

        <!-- for LEO update sdk -->
        <receiver
            android:name=".sdk.update.UIHelper"
            android:exported="true">
            <intent-filter android:priority="10000">
                <action android:name="com.leo.appmaster.update.remind" />
            </intent-filter>
        </receiver>

        <!-- mobvista ad activity -->
        <activity
            android:name="com.mobvista.sdk.m.core.AdMobvistaAct"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".applocker.gesture.ISwipeService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.leo.appmaster.permission.CONNECT_ISWIPE_SERVICE">
            <intent-filter>
                <action android:name="com.leo.appmaster.ISWIPE_SERVICE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".schedule.ScheduleReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.leo.appmaster.action.SCHEDULE" />
            </intent-filter>
        </receiver>
        <!-- 打开swifty接收的广播，暂时注释，有用时再打开 -->
        <!--<receiver
            android:name=".applocker.gesture.OpenSwityReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.leo.iswipe.openiswipe" />
            </intent-filter>
        </receiver>-->


        <service
            android:name=".mgr.service.IpcRequestService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.leo.appmaster.permission.IPC_REQUEST">
            <intent-filter>
                <action android:name="com.leo.appmaster.IPC_REQUEST" />
            </intent-filter>
        </service>
        <service
            android:name=".applocker.service.ProxyStartService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.leo.theme.action.START_SERVER"></action>
            </intent-filter>
        </service>

        <activity
            android:name=".home.HomeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.leo.appmaster.home"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".activity.PrivacyOptionActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"></activity>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <activity
            android:name=".phoneSecurity.PhoneSecurityActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"></activity>
        <activity
            android:name=".phoneSecurity.AddSecurityNumberActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name=".activity.DebugActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>
        <activity
            android:name="com.leo.appmaster.callfilter.TestDemo"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"></activity>


        <!-- GameBox SDK的主界面 -->
        <activity android:name="com.leo.game.box.ui.GameBoxActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- GameBox后台下载需要的Service -->
        <service android:name="com.leo.game.box.core.GameBoxService" />
        <!-- GameBox下载需要的Receiver -->
        <receiver
            android:name="com.leo.game.box.core.GameBoxReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
